/** clear fix  de qualitaÿ */
.cf:after {
    content:"";
    display:table;
    clear:both;
}



/* image replacement (from HTML5 Boilerplate) */
.ir {
	/*font-size:0;*/
	font: 0/0 a; 
	text-shadow:none;
	box-shadow:none;
	line-height:0;
	border:0;
	color: transparent;
    background-color: transparent;
}